<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>

    <meta name="description" content="Lokale Uddannelsesudvalg (LUU) og andre aktører med interesse for erhvervsuddannelser inden for industrien kan her finde godkendelsesoplysninger om virksomheder i deres lokalområde. &copy; 2019 - Industriens Uddannelser">
    <meta name="author" content="Nikolaj Høgedal Boe, nhb@iu.dk, https://github.com/hogedalboe, https://stackoverflow.com/users/9021825/nhboe, https://www.linkedin.com/in/nikolaj-hogedal-boe/">

    <link rel="icon" href="@Url.Content("~/favicon.ico")" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")" media="screen" />

    @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>*@
</head>
<body>
    @*
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Companies/Index">Alle godkendelser</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Vejledning">Vejledning</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    *@

    <main role="main" style="margin-top:12px;">
        <div class="container-fluid" style="min-height:700px;">
            @RenderBody()
        </div>
    </main>

    @*
        <footer class="border-top footer text-muted">
            <div class="container-fluid">
                &copy; 2019 - <a href="https://iu.dk/">Industriens Uddannelser</a>
            </div>
        </footer>
    *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/moment.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
