@page
@model Virksomhedsgodkendelser.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Pnr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Pnr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Virksomhedsnavn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Virksomhedsnavn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CVRnr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CVRnr)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
