@page
@model Virksomhedsgodkendelser.Pages.Municipalities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Municipality[0].MunicipalityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality[0].MunicipalityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality[0].RegionCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Municipality) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
