@page

@model IndexModel

@{
    ViewData["Title"] = "Virksomhedsgodkendelser";
}

<script>
    @*Reset cookie expiration date*@
    var expiryDate = new Date();
    expiryDate.setMonth(expiryDate.getMonth() + 4);
    var decodedCookieString = decodeURIComponent(document.cookie);
    var cookies = decodedCookieString.split(';');
    var cookieValue = "";
    for (var i = 0; i < cookies.length; i++)
    {
        if (cookies[i].includes("Filters="))
        {
            var cookieValue = cookies[i].replace("Filters=", "");
        }
    }
    document.cookie = "Filters=" + encodeURIComponent(cookieValue) + "; expires=" + expiryDate.toUTCString();
</script>

<div class="row">
    @*Filters*@
    <div class="col-lg-8">
        <div class="container nhb-margin-bottom">
            @*Education*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdow-education" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Uddannelse
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-education">
                    <a class="dropdown-item">Smed</a>
                    <a class="dropdown-item">Datatekniker</a>
                </div>
            </div>
            @*Specialisation*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdow-specialisation" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Speciale
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-specialisation">
                    <a class="dropdown-item">Klejnsmed</a>
                    <a class="dropdown-item">Infrastruktur</a>
                </div>
            </div>
            @*Region*@
            <div id="nhb-dropdown-region-container" class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdown-region" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-region">
                    @for (int i = 0; i < Model.Region.Count; i++)
                    {
                        string check = "";
                        foreach (string strRegionCode in Model.RegionCodes)
                        {
                            if (Model.Region[i].RegionCode.ToString() == strRegionCode)
                            {
                                check = "checked";
                            }
                        }

                        <div class="form-check dropdown-item">
                            <input class="form-check-input" type="checkbox" value="@(Model.Region[i].RegionCode)" @(check) id="dropdown-region-item@(i)" onchange="navigateWithParameters({});">
                            <label class="form-check-label" for="dropdown-region-item@(i)">
                                @Html.DisplayFor(modelItem => Model.Region[i].RegionName)
                            </label>
                        </div>
                    }
                </div>
            </div>
            @*Municipality*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdown-municipality" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kommune
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-municipality">
                    @for (int i = 0; i < Model.Municipality.Count; i++)
                    {
                        string check = "";
                        foreach (string strMunicipalityCode in Model.MunicipalityCodes)
                        {
                            if (Model.Municipality[i].MunicipalityCode.ToString() == strMunicipalityCode)
                            {
                                check = "checked";
                            }
                        }

                        <div class="form-check dropdown-item">
                            <input class="form-check-input" type="checkbox" value="@(Model.Municipality[i].MunicipalityCode)" @(check) id="dropdown-municipality-item@(i)" onchange="navigateWithParameters({});">
                            <label class="form-check-label" for="dropdown-municipality-item@(i)">
                                @Html.DisplayFor(modelItem => Model.Municipality[i].MunicipalityName)
                            </label>
                        </div>
                    }
                </div>
            </div>
            @*Show results per page*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdow-specialisation" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Antal resultater per side">
                    Vis
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-specialisation">
                    @for (int i = 0; i < Model.PageSizes.Length; i++)
                    {
                        <a class="dropdown-item">@Model.PageSizes[i]</a>
                    }
                </div>
            </div>
            @*Clear all filters*@
            <button type="button" class="btn btn-info btn-sm nhb-margin-bottom" onclick="document.location.href='/';"><i class="material-icons small">clear</i> Ryd filtre</button>
        </div>
    </div>
    @*Search*@
    <div class="col-lg-4">
        <div class="nhb-widget container">
            <div class="input-group input-group-sm mb-3">
                <input type="search" id="nhb-search" class="form-control" placeholder="Virksomhedsnavn, adresse, CVR-nr el.lign." aria-label="Search" onkeydown="search();" value="@Model.SearchParam">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" onclick="navigateWithParameters({});">Søg</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        @*Table*@
        <div class="nhb-widget container">
            @*Fill approvals to table*@
            <table class="table table-responsive"> @*table-primary*@
                <thead class="table-info">
                    <tr>
                        <th>
                            <div onclick="navigateWithParameters({ sortby: 'Pname'});" style="cursor: pointer;" class="text-nowrap">
                                @Html.DisplayNameFor(model => model.Approval[0].Pname)
                                <i id="nhb-sortby-Pname" class="material-icons medium"></i>
                            </div>
                        </th>
                        <th>
                            <div onclick="navigateWithParameters({ sortby: 'City'});" style="cursor: pointer;" class="text-nowrap">
                                @Html.DisplayNameFor(model => model.Approval[0].City)
                                <i id="nhb-sortby-City" class="material-icons medium"></i>
                            </div>
                        </th>
                        <th>
                            <div onclick="navigateWithParameters({ sortby: 'EducationName'});" style="cursor: pointer;" class="text-nowrap">
                                @Html.DisplayNameFor(model => model.Approval[0].EducationName)
                                <i id="nhb-sortby-EducationName" class="material-icons medium"></i>
                            </div>
                        </th>
                        <th>
                            <div onclick="navigateWithParameters({ sortby: 'SpecialisationName'});" style="cursor: pointer;" class="text-nowrap">
                                @Html.DisplayNameFor(model => model.Approval[0].SpecialisationName)
                                <i id="nhb-sortby-SpecialisationName" class="material-icons medium"></i>
                            </div>
                        </th>
                        <th>
                            <div onclick="navigateWithParameters({ sortby: 'ApprovalDate'});" style="cursor: pointer;" class="text-nowrap">
                                @Html.DisplayNameFor(model => model.Approval[0].ApprovalDate)
                                <i id="nhb-sortby-ApprovalDate" class="material-icons medium"></i>
                            </div>
                        </th>
                        <th>
                            <div onclick="navigateWithParameters({ sortby: 'ApprovalQuantity'});" style="cursor: pointer;" class="text-nowrap">
                                @Html.DisplayNameFor(model => model.Approval[0].ApprovalQuantity)
                                <i id="nhb-sortby-ApprovalQuantity" class="material-icons medium"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Approval)
                    {
                        <tr onclick="focusApproval(@Html.DisplayFor(modelItem => item.ID));" class="nhb-tr" id="nhb-tr-@Html.DisplayFor(modelItem => item.ID)" style="cursor: pointer;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Pname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostalCode) @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EducationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpecialisationName)
                            </td>
                            <td>
                                @item.ApprovalDate.ToString("dd-MM-yyyy", System.Globalization.CultureInfo.InvariantCulture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovalQuantity)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*Pagination*@
        <div class="nhb-widget container">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    @*Previous page*@
                    <li class="page-item">
                        <a class="page-link" onclick="navigateWithParameters({pageindex: @((Model.PageIndex - 1))});" style="cursor: pointer;" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Forrige</span>
                        </a>
                    </li>
                    @*Pages*@
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        // Check the current page through constructor parameters
                        string active = "";
                        if (i == Model.PageIndex)
                        {
                            active = "active";
                        }

                        <li class="page-item @active"><a class="page-link" onclick="navigateWithParameters({pageindex: @i});" style="cursor: pointer;">@i</a></li>
                    }
                    @*Next page*@
                    <li class="page-item">
                        <a class="page-link" onclick="navigateWithParameters({pageindex: @((Model.PageIndex + 1))});" style="cursor: pointer;" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Næste</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-lg-4">
        @*Company details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#company-details" aria-expanded="false" aria-controls="company-details" style="width:100%;">
                Virksomhedsoplysninger
            </button>
            <div class="collapse" id="company-details">
                <div class="card card-body">
                    <template id="cd-template">
                        <div class="container nhb-margin-bottom">
                            <b>Virksomhed</b><br />
                            <div class="container nhb-margin-top">
                                CVR-nr: <a id="cd-cvrnr" href="" target="_blank" style="color:darkgreen;"></a><br />
                                <div id="cd-address"></div>
                            </div>
                        </div>
                        <div class="container nhb-margin-bottom">
                            <b>Selskabsform</b><br />
                            <div id="cd-corporatestructurename" class="container nhb-margin-top"></div>
                        </div>
                        @*
                            DEVELOPER NOTE, 2020-02-11, NHB:
                            - Other approval addresses and accumulated approvals per specialisation is pushed to future development.

                        <div class="container nhb-margin-bottom">
                            <b>Produktionsenheder med godkendelser</b><br />
                            Address 1 <a href="https://www.google.com/maps/place/..." target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                            Address 2 <a href="https://www.google.com/maps/place/..." target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                        </div>
                        <div class="container nhb-margin-bottom">
                            <b>Godkendelser på alle produktionsenheder</b><br />
                            Specialisation 1 <span class="badge badge-info">8</span><br />
                            Specialisation 2 <span class="badge badge-info">1</span><br />
                        </div>
                        *@
                        <div class="container nhb-margin-bottom">
                            <b>Website</b><br />
                            <div class="container nhb-margin-top">
                                <a id="cd-website" href="" style="color:darkgreen;"></a><br />
                            </div>
                        </div>
                    </template>
                    @*Template target*@
                    <div id="cd-body"></div>
                </div>
            </div>
        </div>
        @*Approval details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#approval-details" aria-expanded="false" aria-controls="approval-details" style="width:100%;">
                Godkendelsesoplysninger
            </button>
            @*Collapse*@
            <div class="collapse" id="approval-details">
                <div class="card card-body">
                    <template id="ad-template">
                        <div class="container nhb-margin-bottom">
                            <b>Produktionsenhed</b> <br />
                            <div class="container nhb-margin-top">
                                P-nr: <a id="ad-pnr" href="" target="_blank" style="color:darkgreen;"></a><br />
                                <div id="ad-pname" class="nhb-inline"></div><a id="ad-gmap" href="" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                                <div id="ad-address" class="nhb-inline"></div>
                            </div>
                        </div>
                        <div class="container nhb-margin-bottom">
                            <b>Branche</b><br />
                            <div class="container nhb-margin-top">
                                <div id="ad-business"></div>
                            </div>
                        </div>
                        <div class="container nhb-margin-bottom">
                            <b>Uddannelse</b><br />
                            <div class="container nhb-margin-top">
                                <div id="ad-educationname"></div>
                            </div>
                        </div>
                        <div class="container nhb-margin-bottom">
                            <b>Speciale</b><br />
                            <div class="container nhb-margin-top">
                                <div id="ad-specialisationame"></div>
                            </div>
                        </div>
                        <div class="container nhb-margin-bottom">
                            <b>Godkendelsesdato</b><br />
                            <div class="container nhb-margin-top">
                                <div id="ad-approvaldate"></div>
                            </div>
                        </div>
                        <div class="container">
                            <b>Godkendelsesantal</b> <span class="badge badge-info"><b id="ad-approvalquantity"></b></span><br /><br />
                            <b>Igangværende aftaler</b> <span class="badge badge-info"><b id="ad-approvalsinuse"></b></span><br /><br />
                            <b>Øvrige aftaler</b> <span class="badge badge-info"><b id="ad-otherapprovalsinuse"></b></span><br /><br />
                        </div>
                    </template>
                    @*Template target*@
                    <div id="ad-body"></div>
                </div>
            </div>
        </div>
        @*Advanced filters*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#advanced-filters" aria-expanded="false" aria-controls="advanced-filters" style="width:100%;">
                Avancerede filtre
            </button>
            <div class="collapse" id="advanced-filters">
                <div class="card card-body">
                    @*Filter guide*@
                    <div class="nhb-margin-bottom">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                    @*Number of active contracts*@
                    <div class="input-group input-group-sm mb-3 nhb-margin-bottom">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-active-contracts">Igangværende aftaler</label>
                        </div>
                        <select class="custom-select" id="filter-active-contracts">
                            <option selected>Vælg...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    @*Apply*@
                    <button class="btn btn-outline-info btn-sm nhb-margin-bottom" type="button" style="">Anvend</button>
                    @*Saved filters modal*@
                    <button class="btn btn-outline-info btn-sm nhb-margin-bottom" onclick="loadSavedFilters();" type="button" style="" data-toggle="modal" data-target="#adminstrate-filters">Gemte filtreringer</button>
                    <div class="modal fade" id="adminstrate-filters" tabindex="-1" role="dialog" aria-labelledby="Administrer filtreringer" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content nhb-margin-bottom">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Administrer filtreringer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body nhb-margin-bottom">
                                    @*Save filtration as*@
                                    <div class="input-group mb-3 nhb-margin-bottom">
                                        <input type="text" id="nhb-save-filters" class="form-control" onkeydown="saveFilterKeyEvent();" placeholder="Gem nuværende filtrering som" aria-label="Gem nuværende filtrering som" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info btn-sm" type="button" style="" onclick="saveFilter();">Gem</button>
                                        </div>
                                    </div>
                                    @*List of saved filtrations*@
                                    <div class="nhb-margin-bottom">
                                        <ul id="nhb-saved-filters" class="nhb-margin-bottom">
                                            @**@
                                        </ul>
                                    </div>
                                </div>
                                <p id="nhb-input-warning-text" style="margin-left:5%;color:red;font-size:14px;"></p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*App guide*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#help-widget" aria-expanded="false" aria-controls="help-widget" style="width:100%;">
                Hjælp og vejledning
            </button>
            <div class="collapse" id="help-widget">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        @*Exports*@
        <div class="nhb-widget container nhb-margin-bottom">
            <div class="btn-group" role="group" aria-label="Export options">
                <button type="button" class="btn btn-outline-secondary btn-sm" disabled><i class="material-icons medium">save_alt</i> @Model.ApprovalCount</button>
                <button type="button" class="btn btn-secondary btn-sm">Excel</button>
                <button type="button" class="btn btn-secondary btn-sm">PDF</button>
            </div>
        </div>
    </div>
</div>

@*Bottom nav
    <div class="row">
        <div class="col-lg-8">

        </div>
    </div>*@

<script type="text/javascript">

    @*Indicate which column is sorted by (if any)*@
    var sortbyElement = document.getElementById("nhb-sortby-@Model.SortBy")
    if (sortbyElement)
    {
        sortbyElement.innerHTML = "arrow_drop_down_circle";
    }

    @*Construct url with query parameters and navigate to it*@
    function navigateWithParameters({
        pageindex = @Model.PageIndex,
        pagesize = @Model.PageSize,
        sortby = "@Model.SortBy" })
    {
        var queryParameters = "?";

        @*Page navigation*@
        if (pageindex > 1 && pageindex <= @Model.PageCount)
        {
            queryParameters += "pageindex=" + pageindex + "&";
        }
        else if (pageindex > @Model.PageCount)
        {
            queryParameters += "pageindex=" + @Model.PageIndex + "&";
        }

        @*Size*@
        //
        //
        //
        //
        //
        //
        //
        //

        @*Sort*@
        if (sortby)
        {
            queryParameters += "sortby=" + sortby + "&";

            if ("@Model.SortBy" != "" && sortby == "@Model.SortBy")
            {
                queryParameters += "sortbynormal=0&";
            }
        }

        @*Search*@
        var search = document.getElementById("nhb-search").value;
        if (search)
        {
            queryParameters += "search=" + search + "&";
        }

        @*Region*@
        var regionSelected = false;
        var regioncodes = "";
        for (var i = 0; i < @(Model.Region.Count); i++)
        {
            var id = "dropdown-region-item" + i.toString();
            var element = document.getElementById(id);

            if (element.checked == true)
            {
                if (regionSelected == false) {
                    regionSelected = true;
                    regioncodes += "regioncodes="
                    regioncodes += element.value.toString();
                }
                else
                {
                    regioncodes += "-" + element.value.toString();
                }
            }

        }
        if (regionSelected)
        {
            queryParameters += regioncodes + "&";
        }

        @*Municipality*@
        var municipalitySelected = false;
        var municipalitycodes = "";
        for (var i = 0; i < @(Model.Municipality.Count); i++)
        {
            var id = "dropdown-municipality-item" + i.toString();
            var element = document.getElementById(id);

            if (element.checked == true)
            {
                if (municipalitySelected == false) {
                    municipalitySelected = true;
                    municipalitycodes += "municipalitycodes="
                    municipalitycodes += element.value.toString();
                }
                else
                {
                    municipalitycodes += "-" + element.value.toString();
                }
            }

        }
        if (municipalitySelected)
        {
            queryParameters += municipalitycodes + "&";
        }

        @*Education*@
        //
        //
        //
        //
        //
        //
        //

        @*Specialisation*@
        //
        //
        //
        //
        //
        //
        //


        @*Navigate*@
        window.location.href = queryParameters;
    }

    @*Handle searching by keydown in the search form*@
    function search()
    {
        if (event.key === 'Enter')
        {
            navigateWithParameters({});
        }
    }

    @*Handling saved filters (cookies)*@
    function saveFilter()
    {
        var filterName = document.getElementById("nhb-save-filters").value;

        if (filterName)
        {
            @* Example Name/Value of cookie: "Filters=Filtre for LUU 1:::?pageindex=3$|||Filtre for LUU 2:::?pageindex=9$ *@

            @*Check if the filter name already exists and check the number of already existing filters*@
            var nameAlreadyExists = false;
            var numberOfExistingFilters = 0;

            var decodedCookieString = decodeURIComponent(document.cookie);
            var cookies = decodedCookieString.split(';');
            for (var i = 0; i < cookies.length; i++)
            {
                if (cookies[i].includes("Filters="))
                {
                    var cookieValue = cookies[i].replace("Filters=", "");
                    var filterPairs = cookieValue.split('|||');
                    for (var j = 0; j < filterPairs.length; j++)
                    {
                        var cookieFilterNameAndFilterParameters = filterPairs[j].split(':::');
                        var cookieFilterName = cookieFilterNameAndFilterParameters[0];

                        if (filterName == cookieFilterName)
                        {
                            nameAlreadyExists = true;
                        }

                        numberOfExistingFilters++;
                    }
                }
            }

            @*Check if the filter name contains non-allowed characters*@
            if (filterName.includes(';') ||
                filterName.includes('=') ||
                filterName.includes(':') ||
                filterName.includes('|'))
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "<i>Filternavnet må ikke indeholde tegnene:</i> ; = : |";
                return;
            }
            else if (nameAlreadyExists)
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "<i>Et filter med dette navn eksisterer allerede.</i>";
                return;
            }
            else if (numberOfExistingFilters > 9)
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "<i>Du kan kun gemme op til 10 filtre.</i>";
                return;
            }
            else
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "";
            }

            @*Get current filter parameters*@
            var filterParameters = window.location.href;

            @*Write the new filter to cookie*@
            var expiryDate = new Date();
            expiryDate.setMonth(expiryDate.getMonth() + 3);

            var declaredCookieName = "Filters=";
            decodedCookieString = decodedCookieString.replace(declaredCookieName, '');

            var separator = "";
            if (decodedCookieString)
            {
                separator = "|||";
            }

            document.cookie = declaredCookieName + encodeURIComponent(decodedCookieString + separator + filterName + ":::" + filterParameters) + "; expires=" + expiryDate.toUTCString();

            @*If cookie storing was succesful, proceed to render*@
            var ul = document.getElementById("nhb-saved-filters");
            var li = document.createElement("li");
            li.classList.add("nhb-margin-bottom");
            li.innerHTML = '<li class="nhb-margin-bottom"><a onclick="" href="' + filterParameters + '" style="color:darkgreen;">' + filterName + '</a><button style="padding:0;border:none;background:none;margin-left:20px;" onclick="removeSavedFilter(this);"><span aria-hidden="true">&times;</span></button></li>';
            ul.appendChild(li);
        }

        document.getElementById("nhb-save-filters").value = "";
    }

    @*Handle searching by keydown in the search form*@
    function saveFilterKeyEvent()
    {
        if (event.key === 'Enter')
        {
            saveFilter();
        }
    }

    @*Delete saved filter*@
    function removeSavedFilter(element)
    {
        @*Remove from cookie*@
        var filterNameToRemove = element.previousSibling.innerHTML;

        var newCookieValue = "";

        var decodedCookieString = decodeURIComponent(document.cookie);
        var cookies = decodedCookieString.split(';');
        for (var i = 0; i < cookies.length; i++)
        {
            if (cookies[i].includes("Filters="))
            {
                var cookieValue = cookies[i].replace("Filters=", "");
                var filterPairs = cookieValue.split('|||');
                for (var j = 0; j < filterPairs.length; j++)
                {
                    var cookieFilterNameAndFilterParameters = filterPairs[j].split(':::');

                    var cookieFilterName = cookieFilterNameAndFilterParameters[0];
                    var cookieFilterParameters = cookieFilterNameAndFilterParameters[1];

                    if (filterNameToRemove != cookieFilterName && cookieFilterName != "")
                    {
                        if (j === 0)
                        {
                            newCookieValue += cookieFilterName + ":::" + cookieFilterParameters;
                        }
                        else if (newCookieValue)
                        {
                            newCookieValue += "|||" + cookieFilterName + ":::" + cookieFilterParameters;
                        }
                        else
                        {
                            newCookieValue += cookieFilterName + ":::" + cookieFilterParameters;
                        }
                    }
                }

                var declaredCookieName = "Filters=";
                var expiryDate = new Date();
                expiryDate.setMonth(expiryDate.getMonth() + 3);

                document.cookie = declaredCookieName + encodeURIComponent(newCookieValue) + "; expires=" + expiryDate.toUTCString();
            }
        }

        @*Remove <li> from html*@
        element.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode);
    }

    @*Load saved filters from cookie when menu loads*@
    function loadSavedFilters()
    {
        @*Remove filters, input text and warnings previously added to document*@
        document.getElementById("nhb-saved-filters").innerHTML = "";
        document.getElementById("nhb-save-filters").value = "";
        document.getElementById("nhb-input-warning-text").innerHTML = "";

        var decodedCookieString = decodeURIComponent(document.cookie); @*https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent*@

        var cookies = decodedCookieString.split(';');

        for (var i = 0; i < cookies.length; i++)
        {
            if (cookies[i].includes("Filters="))
            {
                var cookieValue = cookies[i].replace("Filters=", "")

                @* Example cookieValue: "Filters=Filtre for LUU 1:::?pageindex=3$|||Filtre for LUU 2:::?pageindex=9$ *@

                var filterPairs = cookieValue.split('|||');

                for (var j = 0; j < filterPairs.length; j++)
                {
                    var cookieFilterNameAndFilterParameters = filterPairs[j].split(':::');
                    var cookieFilterName = cookieFilterNameAndFilterParameters[0];
                    var cookieFilterParameters = cookieFilterNameAndFilterParameters[1];

                    @*Render as list item*@
                    if (cookieFilterName)
                    {
                        var ul = document.getElementById("nhb-saved-filters");
                        var li = document.createElement("li");
                        li.classList.add("nhb-margin-bottom");
                        li.innerHTML = '<li class="nhb-margin-bottom"><a onclick="" href="' + cookieFilterParameters + '" style="color:darkgreen;">' + cookieFilterName + '</a><button style="padding:0;border:none;background:none;margin-left:20px;" onclick="removeSavedFilter(this);"><span aria-hidden="true">&times;</span></button></li>';
                        ul.appendChild(li);
                    }
                }
            }
        }
    }

    @*Focus on approval*@
    async function focusApproval(approvalID)
    {
        @*Indicate via styling that a certain row (approval) has been selected in the table. Remove this styling from all other rows*@
        var tr = document.getElementsByClassName("nhb-tr");
        for (var i = 0; i < tr.length; i++)
        {
            tr[i].classList.remove("table-active");
        }
        document.getElementById("nhb-tr-" + approvalID).classList.add("table-active");

        @*Hide approval collapse element*@
        //document.getElementById("approval-details").classList.remove("show");

        @*Reset collapse elements via templates*@
        document.getElementById("ad-body").innerHTML = document.getElementById("ad-template").innerHTML;
        document.getElementById("cd-body").innerHTML = document.getElementById("cd-template").innerHTML;

        @*Fetch approval data*@
        await xhrRequest(window.location.href + "api/approvals/" + approvalID.toString(), 1);
    }

    function setApprovaldetails(json)
    {
        @*Set approval details in DOM*@
        document.getElementById("ad-pnr").href = "https://datacvr.virk.dk/data/visenhed?enhedstype=produktionsenhed&id=" + json.pnr;
        document.getElementById("ad-pnr").innerHTML = json.pnr;
        document.getElementById("ad-pname").innerHTML = json.pname;
        var completeAddress = json.streetAddress + "<br/>" + json.postalCode + " " + json.city;
        document.getElementById("ad-address").innerHTML = completeAddress;
        document.getElementById("ad-gmap").href = "https://www.google.com/maps/place/" + encodeURIComponent(completeAddress.replace('<br/>', ' '));
        document.getElementById("ad-business").innerHTML = json.businessCode + " " + json.businessName;
        document.getElementById("ad-educationname").innerHTML = json.educationName;
        document.getElementById("ad-specialisationame").innerHTML = json.specialisationName;
        document.getElementById("ad-approvaldate").innerHTML = moment(json.approvalDate).format('DD-MM-YYYY');
        document.getElementById("ad-approvalquantity").innerHTML = json.approvalQuantity;
        document.getElementById("ad-approvalsinuse").innerHTML = json.approvalsInUse;
        document.getElementById("ad-otherapprovalsinuse").innerHTML = json.otherApprovalsInUse;

        @*Show approval collapse element*@
        document.getElementById("approval-details").classList.add("show");

        @*Load company data (without expanding the collapse)*@
        focusCompany(json);
        @*
            DEVELOPER NOTE, 2020.02.11, NHB: 
            - At the moment, companies are not split into their own entity, even though they should be.
            - Therefore, future development should implement this normalization in the database and model structure.
            - This prerequisites company model data, or a more official access to the Danish company registry database currently fetched from in the focusCompany function.
            - Also in this code block another approach should be implemented, where a company's data is requested individually with CVRnr as key.
            - Specifically, only the CVRnr should be passed to the focusCompany function, and this function should then request the company data and write it to the DOM.
        *@

    }

    @*Focus on company*@
    async function focusCompany(approvalJson)
    {
        @*
            DEVELOPER NOTE, 2020.02.11, NHB:
            - Instead of below fetch and reuse of approval JSON, an internal company data structure should be developed. Otherwise a more official entry to the Danish company registry database should be implemented.
        *@

        @*Set company details in DOM*@
        document.getElementById("cd-cvrnr").href = "https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=" + approvalJson.cvRnr;
        document.getElementById("cd-cvrnr").innerHTML = approvalJson.cvRnr;
        document.getElementById("cd-corporatestructurename").innerHTML = approvalJson.corporateStructureName;
        document.getElementById("cd-website").innerHTML = approvalJson.website;

        @*Get company data from Danish company registry*@
        fetch("https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=" + approvalJson.cvRnr)
            .then((response) =>
            {
                return response.text();
            })
            .then((html) =>
            {
                var responseDOM = document.createElement("div");
                responseDOM.innerHTML = html.trim();

                // Company name
                var possibleElements_company = responseDOM.querySelectorAll(".enhedsnavn");
                if (possibleElements_company.length > 0)
                {
                    for (var i = 0; i < possibleElements_company.length; i++)
                    {
                        try
                        {
                            var companyName = possibleElements_company[i].getElementsByTagName("h1")[0].innerHTML
                            document.getElementById("cd-address").innerHTML = companyName;
                        }
                        catch (err)
                        {
                            console.error("Could not get company name from fetch", err);
                        }
                    }
                }

                // Address
                var possibleElements_address = responseDOM.getElementsByTagName("strong");
                if (possibleElements_address.length > 0)
                {
                    for (var i = 0; i < possibleElements_address.length; i++)
                    {
                        try
                        {
                            if (possibleElements_address[i].innerHTML == "Adresse")
                            {
                                var companyAddress = possibleElements_address[i].parentElement.parentElement.nextElementSibling.innerHTML;
                                document.getElementById("cd-address").innerHTML += "<br/>" + companyAddress;
                                break;
                            }
                        }
                        catch (err)
                        {
                            console.error("Could not get company address info from fetch", err);
                        }
                    }
                }

                // City
                var possibleElements_city = responseDOM.getElementsByTagName("strong");
                if (possibleElements_city.length > 0)
                {
                    for (var i = 0; i < possibleElements_city.length; i++)
                    {
                        try
                        {
                            if (possibleElements_address[i].innerHTML == "Postnummer og by")
                            {
                                var companyCity = possibleElements_city[i].parentElement.parentElement.nextElementSibling.innerHTML;
                                document.getElementById("cd-address").innerHTML += "<br/>" + companyCity;
                                break;
                            }
                        }
                        catch (err)
                        {
                            console.error("Could not get company city info from fetch", err);
                        }
                    }
                }
            })
            .catch((error) =>
            {
                console.error("Fetch unsuccessful", error);
            });
    }

    @*XMLHttpRequest*@
    async function xhrRequest(url, mode)
    {
        var json = {};

        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, true); // False = Synchronous
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function ()
        {
            @*// https://www.w3schools.com/js/js_ajax_http_response.asp*@
            if (xhr.readyState === 4 && xhr.status === 200)
            {
                if (mode == 1)
                {
                    json = JSON.parse(xhr.responseText);
                    setApprovaldetails(json);
                }
            };
        };
        xhr.send();
    }

</script>