@page

@model IndexModel

@{
    ViewData["Title"] = "Virksomhedsgodkendelser";
}

<div class="row">
    @*Filters*@
    <div class="col-lg-8">
        <div class="container nhb-margin-bottom">
            @*Region*@
            <div class="btn-group btn-group-sm" role="group" aria-label="Table filters">
                <button id="dropdown-region" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-region">
                    @for (int i = 0; i < Model.Region.Count; i++)
                    {
                        <div class="form-check dropdown-item">
                            <input class="form-check-input" type="checkbox" value="" id="dropdown-region-item@(i)">
                            <label class="form-check-label" for="dropdown-region-item@(i)">
                                @Html.DisplayFor(modelItem => Model.Region[i].RegionName)
                            </label>
                        </div>
                    }
                </div>
            </div>
            @*Municipality*@
            <div class="btn-group btn-group-sm" role="group" aria-label="Table filters">
                <button id="dropdown-municipality" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kommune
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-municipality">
                    <a class="dropdown-item" href="#">Morsø</a>
                    <a class="dropdown-item" href="#">Frederiksberg</a>
                </div>
            </div>
            @*Education*@
            <div class="btn-group btn-group-sm" role="group" aria-label="Table filters">
                <button id="dropdow-education" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Uddannelse
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-education">
                    <a class="dropdown-item" href="#">Smed</a>
                    <a class="dropdown-item" href="#">Datatekniker</a>
                </div>
            </div>
            @*Specialisation*@
            <div class="btn-group btn-group-sm" role="group" aria-label="Table filters">
                <button id="dropdow-specialisation" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Speciale
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-specialisation">
                    <a class="dropdown-item" href="#">Klejnsmed</a>
                    <a class="dropdown-item" href="#">Infrastruktur</a>
                </div>
            </div>
            @*Show results per page*@
            <div class="btn-group btn-group-sm" role="group" aria-label="Table filters">
                <button id="dropdow-specialisation" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Antal resultater per side">
                    Vis
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-specialisation">
                    @for (int i = 0; i < Model.PageSizes.Length; i++)
                    {
                        <a class="dropdown-item" href="#">@Model.PageSizes[i]</a>
                    }
                </div>
            </div>
            @*Clear all filters*@
            <button type="button" class="btn btn-info btn-sm">Ryd filtre</button>
        </div>
    </div>
    @*Search*@
    <div class="col-lg-4">
        <div class="nhb-widget container">
            <div class="input-group input-group-sm mb-3">
                <input type="search" id="nhb-search" class="form-control" placeholder="Virksomhedsnavn, adresse el.lign." aria-label="Search" onkeydown="search();" value="@Model.SearchParam">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" onclick="navigateWithParameters({});">Søg</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        @*Table*@
        <div class="nhb-widget container">
            @*Fill companies to table*@
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Company[0].ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Company[0].Pnr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Company[0].Virksomhedsnavn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Company[0].CVRnr)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Company)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pnr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Virksomhedsnavn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CVRnr)
                            </td>

                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*Pagination*@
        <div class="nhb-widget container">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    @*Previous page*@
                    <li class="page-item">
                        <a class="page-link" onclick="navigateWithParameters({pageindex: @((Model.PageIndex - 1))});" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Forrige</span>
                        </a>
                    </li>
                    @*Pages*@
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        // Check the current page through constructor parameters
                        string active = "";
                        if (i == Model.PageIndex)
                        {
                            active = "active";
                        }

                        <li class="page-item @active"><a class="page-link" onclick="navigateWithParameters({pageindex: @i});" href="#">@i</a></li>
                    }
                    @*Next page*@
                    <li class="page-item">
                        <a class="page-link" onclick="navigateWithParameters({pageindex: @((Model.PageIndex + 1))});" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Næste</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-lg-4">
        @*Company details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#company-details" aria-expanded="false" aria-controls="company-details" style="width:100%;">
                Virksomhedsoplysninger
            </button>
            <div class="collapse" id="company-details">
                <div class="card card-body">
                    <div class="container nhb-margin-bottom">
                        <b>Virksomhed</b><br />
                        Fabrik A/S<br />
                        Holmbladsvej 2<br />
                        8600 Silkeborg<br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>CVR-nr</b><br />
                                     <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=24256790" target="_blank">123456789</a>
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Branche</b><br />
                        Fremstilling af andre værktøjsmaskiner
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Selskabsform</b><br />
                        Aktieselskab
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>P-enheder med godkendelser</b><br />
                        Holmbladsvej 2, 8600 Silkeborg<a href="https://www.google.com/maps/place/Holmbladsvej-2,-8600-Silkeborg" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                        Hvidelvej 16, 7400 Herning<a href="https://www.google.com/maps/place/Hvidelvej-16,-7400-Herning" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Godkendelser på alle p-enheder</b><br />
                        Klejnsmed <span class="badge badge-info">8</span><br />
                        Beslagsmed <span class="badge badge-info">1</span><br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Website</b><br />
                        <a href=" ">www.tresomt.dk</a><br />
                    </div>
                </div>
            </div>
        </div>
        @*Approval details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#approval-details" aria-expanded="false" aria-controls="approval-details" style="width:100%;">
                Godkendelsesoplysninger
            </button>
            <div class="collapse" id="approval-details">
                <div class="card card-body">
                    <div class="container nhb-margin-bottom">
                        <b>P-enhed</b><br />
                        <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=produktionsenhed&id=1017660779" target="_blank">12345678</a>, Holmbladsvej 2, 8600 Silkeborg<a href="https://www.google.com/maps/place/Holmbladsvej-2,-8600-Silkeborg" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Uddannelse</b><br />
                        Smed
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Speciale</b><br />
                        Klejnsmed
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Godkendelsesdato</b><br />
                        01-07-2014
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Seneste ændring</b><br />
                        01-07-2014
                    </div>
                    <div class="container">
                        <b>Godkendelsesantal </b> <span class="badge badge-info">8</span><br /><br />
                        <b>Igangværende aftaler </b> <span class="badge badge-info">8</span><br /><br />
                        <b>Øvrige aftaler </b> <span class="badge badge-info">0</span><br /><br />
                        <b>Ubenyttede godkendelser </b> <span class="badge badge-danger">0</span><br /><br />
                    </div>
                </div>
            </div>
        </div>
        @*Advanced filters*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#advanced-filters" aria-expanded="false" aria-controls="advanced-filters" style="width:100%;">
                Avancerede filtre
            </button>
            <div class="collapse" id="advanced-filters">
                <div class="card card-body">
                    @*Filter guide*@
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

                    @*Number of active contracts*@
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-active-contracts">Igangværende aftaler</label>
                        </div>
                        <select class="custom-select" id="filter-active-contracts">
                            <option selected>Vælg...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <button class="btn btn-outline-info btn-sm" type="button" style="max-width:100px;">Anvend</button>
                </div>
            </div>
        </div>
        @*App guide*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#help-widget" aria-expanded="false" aria-controls="help-widget" style="width:100%;">
                Hjælp og vejledning
            </button>
            <div class="collapse" id="help-widget">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        @*Exports*@
        <div class="nhb-widget container nhb-margin-bottom">
            <div class="btn-group" role="group" aria-label="Export options">
                @*<span class="input-group-text input-group-sm">Eksportér @Model.CompanyCount resultater</span>*@
                <button type="button" class="btn btn-outline-secondary btn-sm" disabled>Eksportér @Model.CompanyCount resultater</button>
                <button type="button" class="btn btn-secondary btn-sm">Excel</button>
                <button type="button" class="btn btn-secondary btn-sm">PDF</button>
            </div>
        </div>
    </div>
</div>

@*Bottom nav
<div class="row">
    <div class="col-lg-8">

    </div>
</div>*@

<script>
    @*Construct url with query parameters and navigate to it*@
    function navigateWithParameters({
        pageindex = @Model.PageIndex,
        pagesize = @Model.PageSize})
    {
        var queryParameters = "?";

        @*Page navigation*@
        if (pageindex > 1 && pageindex <= @Model.PageCount)
        {
            queryParameters += "pageindex=" + pageindex + "&";
        }
        else if (pageindex > @Model.PageCount)
        {
            queryParameters += "pageindex=" + @Model.PageIndex + "&";
        }

        @*Size*@


        @*Search*@
        var search = document.getElementById("nhb-search").value;
        if (search)
        {
            queryParameters += "search=" + search + "&";
        }
        @*else if ("@Model.SearchParam" !== "")
        {
            queryParameters += "search=@Model.SearchParam&";
        }*@


        @*Navigate*@
        window.location.href = queryParameters;
    }

    @*Handle searching by keydown in the search form*@
    function search()
    {
        if (event.key === 'Enter')
        {
            navigateWithParameters({});
        }
    }
</script>