@page

@model IndexModel

@{
    ViewData["Title"] = "Virksomhedsgodkendelser";
}

<script>
    @*Reset cookie expiration date*@
    var expiryDate = new Date();
    expiryDate.setMonth(expiryDate.getMonth() + 4);
    var decodedCookieString = decodeURIComponent(document.cookie);
    var cookies = decodedCookieString.split(';');
    var cookieValue = "";
    for (var i = 0; i < cookies.length; i++)
    {
        if (cookies[i].includes("Filters="))
        {
            var cookieValue = cookies[i].replace("Filters=", "");
        }
    }
    document.cookie = "Filters=" + encodeURIComponent(cookieValue) + "; expires=" + expiryDate.toUTCString();
</script>

<div class="row">
    @*Filters*@
    <div class="col-lg-8">
        <div class="container nhb-margin-bottom">
            @*Education*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdow-education" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Uddannelse
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-education">
                    <a class="dropdown-item" href="#">Smed</a>
                    <a class="dropdown-item" href="#">Datatekniker</a>
                </div>
            </div>
            @*Specialisation*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdow-specialisation" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Speciale
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-specialisation">
                    <a class="dropdown-item" href="#">Klejnsmed</a>
                    <a class="dropdown-item" href="#">Infrastruktur</a>
                </div>
            </div>
            @*Region*@
            <div id="nhb-dropdown-region-container" class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdown-region" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-region">
                    @for (int i = 0; i < Model.Region.Count; i++)
                    {
                        string check = "";
                        foreach (string strRegionCode in Model.RegionCodes)
                        {
                            if (Model.Region[i].RegionCode.ToString() == strRegionCode)
                            {
                                check = "checked";
                            }
                        }

                        <div class="form-check dropdown-item">
                            <input class="form-check-input" type="checkbox" value="@(Model.Region[i].RegionCode)" @(check) id="dropdown-region-item@(i)" onchange="navigateWithParameters({});">
                            <label class="form-check-label" for="dropdown-region-item@(i)">
                                @Html.DisplayFor(modelItem => Model.Region[i].RegionName)
                            </label>
                        </div>
                    }
                </div>
            </div>
            @*Municipality*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdown-municipality" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kommune
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-municipality">
                    @for (int i = 0; i < Model.Municipality.Count; i++)
                    {
                        string check = "";
                        foreach (string strMunicipalityCode in Model.MunicipalityCodes)
                        {
                            if (Model.Municipality[i].MunicipalityCode.ToString() == strMunicipalityCode)
                            {
                                check = "checked";
                            }
                        }
                        
                        <div class="form-check dropdown-item">
                            <input class="form-check-input" type="checkbox" value="@(Model.Municipality[i].MunicipalityCode)" @(check) id="dropdown-municipality-item@(i)" onchange="navigateWithParameters({});">
                            <label class="form-check-label" for="dropdown-municipality-item@(i)">
                                @Html.DisplayFor(modelItem => Model.Municipality[i].MunicipalityName)
                            </label>
                        </div>
                    }
                </div>
            </div>
            @*Show results per page*@
            <div class="btn-group btn-group-sm nhb-margin-bottom dropdown" role="group" aria-label="Table filters">
                <button id="dropdow-specialisation" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Antal resultater per side">
                    Vis
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-specialisation">
                    @for (int i = 0; i < Model.PageSizes.Length; i++)
                    {
                        <a class="dropdown-item" href="#">@Model.PageSizes[i]</a>
                    }
                </div>
            </div>
            @*Clear all filters*@
            <button type="button" class="btn btn-info btn-sm nhb-margin-bottom">Ryd filtre</button>
        </div>
    </div>
    @*Search*@
    <div class="col-lg-4">
        <div class="nhb-widget container">
            <div class="input-group input-group-sm mb-3">
                <input type="search" id="nhb-search" class="form-control" placeholder="Virksomhedsnavn, adresse, CVR-nr el.lign." aria-label="Search" onkeydown="search();" value="@Model.SearchParam">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" onclick="navigateWithParameters({});">Søg</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        @*Table*@
        <div class="nhb-widget container">
            @*Fill companies to table*@
            <table class="table-sm table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].Pname)
                            </div>
                        </th>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].PostalCode)
                            </div>
                        </th>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].City)
                            </div>
                        </th>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].EducationName)
                            </div>
                        </th>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].SpecialisationName)
                            </div>
                        </th>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].ApprovalDate)
                            </div>
                        </th>
                        <th>
                            <div onclick="sortByColumn();">
                                @Html.DisplayNameFor(model => model.Approval[0].ApprovalQuantity)
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Approval)
                    {
                        <tr onclick="focusApproval(@Html.DisplayFor(modelItem => item.ID));">
                            <td>
                                @Html.DisplayFor(modelItem => item.Pname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostalCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EducationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpecialisationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovalDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovalQuantity)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*Pagination*@
        <div class="nhb-widget container">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    @*Previous page*@
                    <li class="page-item">
                        <a class="page-link" onclick="navigateWithParameters({pageindex: @((Model.PageIndex - 1))});" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Forrige</span>
                        </a>
                    </li>
                    @*Pages*@
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        // Check the current page through constructor parameters
                        string active = "";
                        if (i == Model.PageIndex)
                        {
                            active = "active";
                        }

                        <li class="page-item @active"><a class="page-link" onclick="navigateWithParameters({pageindex: @i});" href="#">@i</a></li>
                    }
                    @*Next page*@
                    <li class="page-item">
                        <a class="page-link" onclick="navigateWithParameters({pageindex: @((Model.PageIndex + 1))});" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Næste</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-lg-4">
        @*Company details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#company-details" aria-expanded="false" aria-controls="company-details" style="width:100%;">
                Virksomhedsoplysninger
            </button>
            <div class="collapse" id="company-details">
                <div id="company-details-loader">
                    @*Loading spinner: See JS*@
                </div>
                <div class="card card-body">
                    <div class="container nhb-margin-bottom">
                        <b>Virksomhed</b><br />
                        Fabrik A/S<br />
                        Holmbladsvej 2<br />
                        8600 Silkeborg<br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>CVR-nr</b><br />
                        <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=24256790" target="_blank" style="color:darkgreen;">123456789</a>
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Selskabsform</b><br />
                        Aktieselskab
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>P-enheder med godkendelser</b><br />
                        Holmbladsvej 2, 8600 Silkeborg<a href="https://www.google.com/maps/place/Holmbladsvej-2,-8600-Silkeborg" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                        Hvidelvej 16, 7400 Herning<a href="https://www.google.com/maps/place/Hvidelvej-16,-7400-Herning" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Godkendelser på alle p-enheder</b><br />
                        Klejnsmed <span class="badge badge-info">8</span><br />
                        Beslagsmed <span class="badge badge-info">1</span><br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Website</b><br />
                        <a href=" " style="color:darkgreen;">www.tresomt.dk</a><br />
                    </div>
                </div>
            </div>
        </div>
        @*Approval details*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#approval-details" aria-expanded="false" aria-controls="approval-details" style="width:100%;">
                Godkendelsesoplysninger
            </button>
            <div class="collapse" id="approval-details">
                <div id="approval-details-loader">
                    @*Loading spinner: See JS*@
                </div>
                <div class="card card-body">
                    <div class="container nhb-margin-bottom">
                        <b>P-enhed</b><br />
                        <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=produktionsenhed&id=1017660779" target="_blank" style="color:darkgreen;">12345678</a>, Holmbladsvej 2, 8600 Silkeborg<a href="https://www.google.com/maps/place/Holmbladsvej-2,-8600-Silkeborg" target="_blank"><i class="material-icons" style="color:darkgreen">place</i></a><br />
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Branche</b><br />
                        Fremstilling af andre værktøjsmaskiner
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Uddannelse</b><br />
                        Smed
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Speciale</b><br />
                        Klejnsmed
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Godkendelsesdato</b><br />
                        01-07-2014
                    </div>
                    <div class="container nhb-margin-bottom">
                        <b>Seneste ændring</b><br />
                        01-07-2014
                    </div>
                    <div class="container">
                        <b>Godkendelsesantal </b> <span class="badge badge-info">8</span><br /><br />
                        <b>Igangværende aftaler </b> <span class="badge badge-info">8</span><br /><br />
                        <b>Øvrige aftaler </b> <span class="badge badge-info">0</span><br /><br />
                        <b>Ubenyttede godkendelser </b> <span class="badge badge-danger">166</span><br /><br />
                    </div>
                </div>
            </div>
        </div>
        @*Advanced filters*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#advanced-filters" aria-expanded="false" aria-controls="advanced-filters" style="width:100%;">
                Avancerede filtre
            </button>
            <div class="collapse" id="advanced-filters">
                <div class="card card-body">
                    @*Filter guide*@
                    <div class="nhb-margin-bottom">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                    @*Number of active contracts*@
                    <div class="input-group input-group-sm mb-3 nhb-margin-bottom">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-active-contracts">Igangværende aftaler</label>
                        </div>
                        <select class="custom-select" id="filter-active-contracts">
                            <option selected>Vælg...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    @*Apply*@
                    <button class="btn btn-outline-info btn-sm nhb-margin-bottom" type="button" style="">Anvend</button>
                    @*Saved filters modal*@
                    <button class="btn btn-outline-info btn-sm nhb-margin-bottom" onclick="loadSavedFilters();" type="button" style="" data-toggle="modal" data-target="#adminstrate-filters">Administrer filtreringer</button>
                    <div class="modal fade" id="adminstrate-filters" tabindex="-1" role="dialog" aria-labelledby="Administrer filtreringer" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content nhb-margin-bottom">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Administrer filtreringer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body nhb-margin-bottom">
                                    @*Save filtration as*@
                                    <div class="input-group mb-3 nhb-margin-bottom">
                                        <input type="text" id="nhb-save-filters" class="form-control" onkeydown="saveFilterKeyEvent();" placeholder="Gem nuværende filtrering som" aria-label="Gem nuværende filtrering som" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info btn-sm" type="button" style="" onclick="saveFilter();">Gem</button>
                                        </div>
                                    </div>
                                    @*List of saved filtrations*@
                                    <div class="nhb-margin-bottom">
                                        <ul id="nhb-saved-filters" class="nhb-margin-bottom">
                                            @**@
                                        </ul>
                                    </div>
                                </div>
                                <p id="nhb-input-warning-text" style="margin-left:5%;color:red;font-size:14px;"></p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*App guide*@
        <div class="nhb-widget container nhb-margin-bottom">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#help-widget" aria-expanded="false" aria-controls="help-widget" style="width:100%;">
                Hjælp og vejledning
            </button>
            <div class="collapse" id="help-widget">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        @*Exports*@
        <div class="nhb-widget container nhb-margin-bottom">
            <div class="btn-group" role="group" aria-label="Export options">
                <button type="button" class="btn btn-outline-secondary btn-sm" disabled>Eksportér @Model.CompanyCount resultater</button>
                <button type="button" class="btn btn-secondary btn-sm">Excel</button>
                <button type="button" class="btn btn-secondary btn-sm">PDF</button>
            </div>
        </div>
    </div>
</div>

@*Bottom nav
<div class="row">
    <div class="col-lg-8">

    </div>
</div>*@

<script>

    @*Construct url with query parameters and navigate to it*@
    function navigateWithParameters({
        pageindex = @Model.PageIndex,
        pagesize = @Model.PageSize})
    {
        var queryParameters = "?";

        @*Page navigation*@
        if (pageindex > 1 && pageindex <= @Model.PageCount)
        {
            queryParameters += "pageindex=" + pageindex + "&";
        }
        else if (pageindex > @Model.PageCount)
        {
            queryParameters += "pageindex=" + @Model.PageIndex + "&";
        }

        @*Size*@
        //
        //
        //
        //
        //
        //
        //
        //

        @*Search*@
        var search = document.getElementById("nhb-search").value;
        if (search)
        {
            queryParameters += "search=" + search + "&";
        }

        @*Region*@
        var regionSelected = false;
        var regioncodes = "";
        for (var i = 0; i < @(Model.Region.Count); i++)
        {
            var id = "dropdown-region-item" + i.toString();
            var element = document.getElementById(id);

            if (element.checked == true)
            {
                if (regionSelected == false) {
                    regionSelected = true;
                    regioncodes += "regioncodes="
                    regioncodes += element.value.toString();
                }
                else
                {
                    regioncodes += "-" + element.value.toString();
                }
            }

        }
        if (regionSelected)
        {
            queryParameters += regioncodes + "&";
        }

        @*Municipality*@
        var municipalitySelected = false;
        var municipalitycodes = "";
        for (var i = 0; i < @(Model.Municipality.Count); i++)
        {
            var id = "dropdown-municipality-item" + i.toString();
            var element = document.getElementById(id);

            if (element.checked == true)
            {
                if (municipalitySelected == false) {
                    municipalitySelected = true;
                    municipalitycodes += "municipalitycodes="
                    municipalitycodes += element.value.toString();
                }
                else
                {
                    municipalitycodes += "-" + element.value.toString();
                }
            }

        }
        if (municipalitySelected)
        {
            queryParameters += municipalitycodes + "&";
        }

        @*Education*@
        //
        //
        //
        //
        //
        //
        //

        @*Specialisation*@
        //
        //
        //
        //
        //
        //
        //


        @*Navigate*@
        window.location.href = queryParameters;
    }

    @*Handle searching by keydown in the search form*@
    function search()
    {
        if (event.key === 'Enter')
        {
            navigateWithParameters({});
        }
    }

    @*Handling saved filters (cookies)*@
    function saveFilter()
    {
        var filterName = document.getElementById("nhb-save-filters").value;

        if (filterName)
        {
            @* Example Name/Value of cookie: "Filters=Filtre for LUU 1:::?pageindex=3$|||Filtre for LUU 2:::?pageindex=9$ *@

            @*Check if the filter name already exists and check the number of already existing filters*@
            var nameAlreadyExists = false;
            var numberOfExistingFilters = 0;

            var decodedCookieString = decodeURIComponent(document.cookie);
            var cookies = decodedCookieString.split(';');
            for (var i = 0; i < cookies.length; i++)
            {
                if (cookies[i].includes("Filters="))
                {
                    var cookieValue = cookies[i].replace("Filters=", "");
                    var filterPairs = cookieValue.split('|||');
                    for (var j = 0; j < filterPairs.length; j++)
                    {
                        var cookieFilterNameAndFilterParameters = filterPairs[j].split(':::');
                        var cookieFilterName = cookieFilterNameAndFilterParameters[0];

                        if (filterName == cookieFilterName)
                        {
                            nameAlreadyExists = true;
                        }

                        numberOfExistingFilters++;
                    }
                }
            }

            @*Check if the filter name contains non-allowed characters*@
            if (filterName.includes(';') ||
                filterName.includes('=') ||
                filterName.includes(':') ||
                filterName.includes('|'))
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "<i>Filternavnet må ikke indeholde tegnene:</i> ; = : |";
                return;
            }
            else if (nameAlreadyExists)
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "<i>Et filter med dette navn eksisterer allerede.</i>";
                return;
            }
            else if (numberOfExistingFilters > 9)
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "<i>Du kan kun gemme op til 10 filtre.</i>";
                return;
            }
            else
            {
                document.getElementById("nhb-input-warning-text").innerHTML = "";
            }

            @*Get current filter parameters*@
            var filterParameters = window.location.href;

            @*Write the new filter to cookie*@
            var expiryDate = new Date();
            expiryDate.setMonth(expiryDate.getMonth() + 3);

            var declaredCookieName = "Filters=";
            decodedCookieString = decodedCookieString.replace(declaredCookieName, '');

            var separator = "";
            if (decodedCookieString)
            {
                separator = "|||";
            }

            document.cookie = declaredCookieName + encodeURIComponent(decodedCookieString + separator + filterName + ":::" + filterParameters) + "; expires=" + expiryDate.toUTCString();

            @*If cookie storing was succesful, proceed to render*@
            var ul = document.getElementById("nhb-saved-filters");
            var li = document.createElement("li");
            li.classList.add("nhb-margin-bottom");
            li.innerHTML = '<li class="nhb-margin-bottom"><a onclick="" href="#" style="color:darkgreen;">' + filterName + '</a><button style="padding:0;border:none;background:none;margin-left:20px;" onclick="removeSavedFilter(this);"><span aria-hidden="true">&times;</span></button></li>';
            ul.appendChild(li);
        }

        document.getElementById("nhb-save-filters").value = "";
    }

    @*Handle searching by keydown in the search form*@
    function saveFilterKeyEvent()
    {
        if (event.key === 'Enter')
        {
            saveFilter();
        }
    }

    @*Delete saved filter*@
    function removeSavedFilter(element)
    {
        @*Remove from cookie*@
        var filterNameToRemove = element.previousSibling.innerHTML;

        var newCookieValue = "";

        var decodedCookieString = decodeURIComponent(document.cookie);
        var cookies = decodedCookieString.split(';');
        for (var i = 0; i < cookies.length; i++)
        {
            if (cookies[i].includes("Filters="))
            {
                var cookieValue = cookies[i].replace("Filters=", "");
                var filterPairs = cookieValue.split('|||');
                for (var j = 0; j < filterPairs.length; j++)
                {
                    var cookieFilterNameAndFilterParameters = filterPairs[j].split(':::');

                    var cookieFilterName = cookieFilterNameAndFilterParameters[0];
                    var cookieFilterParameters = cookieFilterNameAndFilterParameters[1];

                    if (filterNameToRemove != cookieFilterName && cookieFilterName != "")
                    {
                        if (j === 0)
                        {
                            newCookieValue += cookieFilterName + ":::" + cookieFilterParameters;
                        }
                        else if (newCookieValue)
                        {
                            newCookieValue += "|||" + cookieFilterName + ":::" + cookieFilterParameters;
                        }
                        else
                        {
                            newCookieValue += cookieFilterName + ":::" + cookieFilterParameters;
                        }
                    }
                }

                var declaredCookieName = "Filters=";
                var expiryDate = new Date();
                expiryDate.setMonth(expiryDate.getMonth() + 3);

                document.cookie = declaredCookieName + encodeURIComponent(newCookieValue) + "; expires=" + expiryDate.toUTCString();
            }
        }

        @*Remove <li> from html*@
        element.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode);
    }

    @*Load saved filters from cookie when menu loads*@
    function loadSavedFilters()
    {
        @*Remove filters, input text and warnings previously added to document*@
        document.getElementById("nhb-saved-filters").innerHTML = "";
        document.getElementById("nhb-save-filters").value = "";
        document.getElementById("nhb-input-warning-text").innerHTML = "";

        var decodedCookieString = decodeURIComponent(document.cookie); @*https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent*@

        var cookies = decodedCookieString.split(';');

        for (var i = 0; i < cookies.length; i++)
        {
            if (cookies[i].includes("Filters="))
            {
                var cookieValue = cookies[i].replace("Filters=", "")

                @* Example cookieValue: "Filters=Filtre for LUU 1:::?pageindex=3$|||Filtre for LUU 2:::?pageindex=9$ *@

                var filterPairs = cookieValue.split('|||');

                for (var j = 0; j < filterPairs.length; j++)
                {
                    var cookieFilterNameAndFilterParameters = filterPairs[j].split(':::');
                    var cookieFilterName = cookieFilterNameAndFilterParameters[0];
                    var cookieFilterParameters = cookieFilterNameAndFilterParameters[1];

                    @*Render as list item*@
                    if (cookieFilterName)
                    {
                        var ul = document.getElementById("nhb-saved-filters");
                        var li = document.createElement("li");
                        li.classList.add("nhb-margin-bottom");
                        li.innerHTML = '<li class="nhb-margin-bottom"><a onclick="" href="' + cookieFilterParameters + '" style="color:darkgreen;">' + cookieFilterName + '</a><button style="padding:0;border:none;background:none;margin-left:20px;" onclick="removeSavedFilter(this);"><span aria-hidden="true">&times;</span></button></li>';
                        ul.appendChild(li);
                    }
                }
            }
        }
    }

    @*Focus on approval*@
    async function focusApproval(approvalID)
    {
        @*Make sure the clicked approval is not already in focus*@
        //
        //
        //
        //
        //
        //
        //
        //

        @*Indicate via styling that a certain row (approval) has been selected in the table. Remove this styling from all other rows*@
        //
        //
        //
        //
        //
        //
        //
        //
        //

        @*Remove previously loaded approval*@
        //
        //
        //
        //
        //
        //
        //
        //

        @*Show approval collapse element*@
        document.getElementById("approval-details").classList.add("show");

        @*Initiate loading spinner before fetching approval data*@
        await controlSpinner("approval-details-loader", true);

        @*Fetch approval data*@
        alert('Fetch data...');
        //
        //
        //
        //
        //
        //
        //
        //

        @*Remove loading spinner*@
        await controlSpinner("approval-details-loader", false);

        @*Load company data (without expanding the collapse)*@
        focusCompany("test 123333333333333333333333333333333333333 INPUT REAL CVR 33333333333333333333333333333333333333333333333333333333");
        //
        //
        //
        //
        //
        //
        //
        //
        //
        //
    }

    @*Focus on approval*@
    async function focusCompany(cvr)
    {
        @*Make sure the company is not already in focus*@
        //
        //
        //
        //
        //
        //
        //
        //

        @*Remove previously loaded company*@
        //
        //
        //
        //
        //
        //
        //
        //

        @*Initiate loading spinner before fetching approval data*@
        await controlSpinner("company-details-loader", true);

        @*Fetch approval data*@
        alert('Fetch data...');
        //
        //
        //
        //
        //
        //
        //
        //
        //

        @*Remove loading spinner*@
        await controlSpinner("company-details-loader", false);
    }

    @*Control spinner*@
    function controlSpinner(id, spin)
    {
        if (spin)
        {
            document.getElementById(id).innerHTML = "<div class='container nhb-margin-bottom nhb-margin-top'><div class='loader' style='margin:auto;'></div></div>";
        }
        else
        {
            document.getElementById(id).innerHTML = "";
        }

        @*Make sure load spinner is visible before continuing*@
        return new Promise(resolve => {
            setTimeout(() => {
                resolve('resolved');
            }, 1000);
        });
    }

    @*Sort by column*@
    function sortByColumn()
    {
        alert("hej");
        //
        //
        //
        //
        //
        //
        //
        //
        //
    }

</script>